body {
	height: 100%;
	display: block;
	overflow: hidden;
	font-family: arial,sans-serif;
	font-size: 13px;
	background: #fff;
	color: #222;
	margin: 0;
}

header {
	display: inline-block;
	color: #404040;
	width: 100%;
	margin-left: -40px;
	margin-bottom: 10px;
	padding: 0px;
}

header li {
	margin-top: 1px;
	margin-right: -12px;
	padding-right: 1px;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background: #f2f2f2;
	color: #666;
	line-height: 14px;
	border-top: 1px solid #e4e4e4;
}

footer a {
	color: #666;
}

footer li {
	margin-right: 4px;
}

li {
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
	padding-top: 0;
}

span.tg-arrow {
	position: relative;
	border-top: 4px solid #404040;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.containter {
	display: inline-block;
}

.container img {
	height: 95px;
  width: 269px;
  margin-top: 8%;
  margin-bottom: 2px;
  padding: 20px;
}

.apps-ico {
	position: relative;
	top: 6px;
	padding: 0;
	margin: 0;
}

.apps-ico:hover {
	color: #000;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.g-search {
	position: relative;
	display: block;
	font-family: arial,sans-serif;
	padding: 0;
	margin: 0 5px 4px 5px;
	background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  max-width: 568px;
  height: 28px;
  vertical-align: top;
  white-space: nowrap;
}

.g-search input[text] {
  display: block;
  position: relative;
	line-height: 0;
	white-space: nowrap;
	color: #222;
	font-size: small;
	border: none;
  padding-left: 7px;
  margin: 0;
  width: 100%;
  height: 27px;
  z-index: 6;
  left: 0px;
  background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.mic img {
	position: absolute;
	right: 3px;
	top: 1px;
	display: inline-block;
	float: right;
	width: 14px;
	height: 19px;
	padding: 4px;
	margin: 0;
	vertical-align: middle;
  opacity: 0.6;
}

.v_search:hover {
	cursor: pointer;
}

.buttons {
	display: block;
}

.btn {
	height: 29px;
  line-height: 27px;
	background-color: #f5f5f5;
	padding: 10px;
	cursor: default;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 11px 6px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  color: #444;
  border-radius: 2px;
}

.head_menu {
	display: inline-block;
	float: right;
}

.l_footer, .r_footer {
	display: inline-block;
	padding-top: -2px;

}

.l_footer {
	float: left;
	margin-left: -33px;
}

.r_footer {
	float: right;
	margin-right: 20px;
}