body {
	height: 100%;
	display: block;
	overflow: hidden;
	font-family: arial,sans-serif;
	font-size: 13px;
	background: #fff;
	color: #222;
	margin: 0;
}

header {
	position: relative;
	display: inline-block;
	color: #404040;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	padding: 0px;
	background: #f2f2f2;
	border-bottom: 1px solid #666;
  border-color: #e5e5e5;
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background: #f2f2f2;
	color: #666;
	line-height: 14px;
	border-top: 1px solid #e4e4e4;
	padding-left: 50px;
}

footer a {
	color: #666;
}

footer li {
	margin-right: 4px;
}

li {
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
	padding-top: 0;
}

.home-logo {
	background: url('../img/nav.png');
	background-position: 0 -45px;
	width: 95px;
	height: 35px;
	display: inline-block;
	float: left;
}

.apps {
	display: inline-block;
	background: url('../img/apps-nav.png');
	background-position: 30px -52px;
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 3px;
	margin-right: 15px;
	opacity: .55;
}

.apps:hover {
	opacity: 1;
	cursor: default;
}

.google-search {
	padding-left: 13px;
	padding-top: 16px;
}

header .app-menu {
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: -18px;

}

.app-menu ul li.acc {
	display: inline-block;
	height: 30px;
	float: right;
	padding: 10px 10px 0 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.g-search {
	position: relative;
	display: block;
	float: left;
	font-family: arial,sans-serif;
	padding: 0;
	margin: 0 5px 4px 20px;
	background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  width: 559px;
  height: 28px;
  vertical-align: top;
  white-space: nowrap;
}

.g-search input[text] {
  display: block;
  position: relative;
	line-height: 0;
	white-space: nowrap;
	color: #222;
	font-size: small;
	border: none;
  padding-left: 7px;
  margin: 0;
  width: 100%;
  height: 27px;
  z-index: 6;
  left: 0px;
  background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  font: 16px arial,sans-serif;
  line-height: 1.2em !important;
}

.search-btn {
	display: inline-block;
	float: left;
	width: 58px;
	height: 30px;
	padding-left: -5px;
	margin-left: -5px;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);

	border: 1px solid #3079ED;
	color: white;
	border-radius: 0 2px 2px 0;
}

.search-btn:hover {
	border: 1px solid #2F5BB7;
	
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.search-mg {
	background: url('../img/apps-nav.png');
	background-position: -63px -40px;
	float: auto;
	display: inline-block;
	width: 18px;
	height: 18px;
}

.mic img {
	position: absolute;
	right: 3px;
	top: 1px;
	display: inline-block;
	float: right;
	width: 14px;
	height: 19px;
	padding: 4px;
	margin: 0;
	vertical-align: middle;
  opacity: 0.6;
}

.point {
	color: #aaa;
}

.point.circle {
	border-radius: 100%;
  display: inline-block;
  height: 8px;
  margin: 7px 5px 10px 1px;
  vertical-align: middle;
  width: 8px;
	background: #9A9FA4;
  box-shadow: 0 0 0 1px #97999D;
}

.location-main {
	color: #aaa;
}

.location-info {
	margin-left: 24px;
}

.location-info li {
	margin: 0;
	padding: 0;
}

.v_search:hover {
	cursor: pointer;
}



span.tg-arrow {
	position: relative;
	border-top: 4px solid #404040;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}