body {
	overflow: hidden;
	font-family: arial,sans-serif;
	font-size: 13px;
	background: #fff;
	color: #222;
	margin: 0;
	padding: 10px;
}

header {
	display: inline-block;
	width: 100%;
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background: #f2f2f2;
	color: #666;
	border-top: 1px solid #e4e4e4
}

li {
	list-style-type: none;
	display: inline-block;
	padding-left: 27px;
}

.logo img {
	height: 200px;
  width: 500px;
}

.containter {
	display: inline-block;
}

.head_menu {
	display: inline-block;
	float: right;
}

.l_footer, .r_footer {
	display: inline-block;

}

.l_footer {
	float: left;
}

.r_footer {
	float: right;
}