body {
	height: 100%;
	display: block;
	overflow: hidden;
	font-family: arial,sans-serif;
	font-size: 13px;
	background: #fff;
	color: #222;
	margin: 0;
}

header {
	display: inline-block;
	color: #404040;
	width: 100%;
	margin-left: -40px;
	padding: 10px;
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background: #f2f2f2;
	color: #666;
	border-top: 1px solid #e4e4e4;

}

li {
	list-style-type: none;
	display: inline-block;
	padding-left: 27px;
}

.containter {
	display: inline-block;
}

.container img {
	height: 95px;
  width: 269px;
  margin-top: 8%;
  padding: 20px;
}

.g-search {
	display: block;
	font-family: arial,sans-serif;
	padding: 0;
	margin: 15px;
	background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  width: 539px;
  height: 27px;
  vertical-align: top;
}

input[text] {
	display: block;
	position: relative;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
}

input[button] {
	padding: 10px;
}

.buttons {
	display: block;
}

.head_menu {
	display: inline-block;
	float: right;
}

.l_footer, .r_footer {
	display: inline-block;
	padding-top: -2px;

}

.l_footer {
	float: left;
	margin-left: -38px;
}

.r_footer {
	float: right;
	margin-right: 20px;
}